<!--Primer comentario co git hub-->
<!DOCTYPE html>
<!--Etiqueta HTML con especificacion del idioma (ingles en este caso)-->
<html lang="en">
    <!--Cabecera del documento-->
    <head>
        {% load static %}
        <!--Configuracion de la codificación de caracteres a UTF-8-->
        <meta charset="utf-8" />
        <!--Configuracion de la visualizacion en dispositivos y escalado inicial-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!--Metaetiqueta para descripcion del documento-->
        <meta name="description" content="" />
        <!--Metaetiqueta para especificar el autor del documento -->
        <meta name="author" content="" />
<!--Titulo del documento que es calculadora de agua-->
        <title>Eco Water - Calculadora de agua </title>
        <!--Icono de la pestaña del navegador-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/goti.ico' %}" />  
        <!--Enlace a la hoja de estilos de Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!--Enlace a la fuente Merriweather Sans-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <!--Enlace a la fuente Merriweather-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!--Enlace a la hoja de estilos de SimpleLightbox-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!--Enlace a la hoja de estilos personalizadas-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!--Cabecera del documento-->
    </head>

    <body id="page-top">
        <!--Barra de navegacion-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <!--contenedor de la barra de navegacion-->
            <div class="container px-4 px-lg-5">
                <!--Marca del logo y enlace al principio de la página-->
                <a class="navbar-brand" href="#page-top">Eco Water</a>
                <!--Botón de alternancia para dispositivos pequeños-->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <!--Contenido del menú de navegación-->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <!--Lista de elementos del menú-->
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">Nuestro proposito</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Los Usos del Agua</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">La importancia del agua</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Calculadora de agua</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Imagen de fondo-->
        <header class="masthead">
            <!--Contenedor principal de la seccion de la imagen de fondo-->
            <div class="container px-4 px-lg-5 h-100">
                <!--filas y columnas para alinear el contenido en el centro-->
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <!--Columna para el encabezado-->
                    <div class="col-lg-8 align-self-end">
                        <!--Titulo principal de la seccion-->
                        <h1 class="text-white font-weight-bold">El agua es algo muy importante y necesario para la humanidad</h1>
                        <!--Linea divisoria debajo del titulo-->
                        <hr class="divider" />
                    </div>
                    <!--Columna para el texto y el botón-->
                    <div class="col-lg-8 align-self-baseline">
                        <!--Descripción de la sección-->
                        <p class="text-white-75 mb-5">Se estima que la cantidad total de agua que hay es de unos 525 millones de kilómetros cúbicos de agua y solamente ese pequeño porcentaje es apto para el consumo. De ahí que hasta un 40% de la población total del mundo esté afectada por la escasez de agua y más de 1.000 millones de personas no tengan acceso real a fuentes directas de agua potable.</p>
                        <!--Botón de llamada a la acción-->
                        <a class="btn btn-primary btn-xl" href="#about">COMENCEMOS</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <!--Contenedor principal de la seccion "About"-->
            <div class="container px-4 px-lg-5">
                <!--Filas y columnas para alinear el contenido en el centro-->
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <!--Columna para el encabezado y descripcion "about"-->
                    <div class="col-lg-8 text-center">
                        <!--Titulo de la seccion "About"-->
                        <h2 class="text-white mt-0">Nuestro proposito es ...</h2>
                        <!-- Linea divisoria debajo del titulo-->
                        <hr class="divider divider-light" />
                        <!--Descripcion de la seccion "About"-->
                        <p class="text-white-75 mb-4">Buscamos de forma comprometida con el desarrollo sostenible y la responsabilidad social, reconocemos la importancia de cuidar el agua, un recurso vital para la vida y la salud de todos los seres vivos. Por eso, hemos adoptado una serie de medidas para reducir nuestro impacto ambiental y contribuir a la conversacion y el uso racional del agua. Creemos que cuidar el agua es una tarea de todos. </p>
                        <!--Botón de llamda a la acción-->
                        <a class="btn btn-light btn-xl" href="#services">¡Vamos a comenzar!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Seccion "services" para describir los usos del agua-->
        <section class="page-section" id="services">
            <!--Contenedor principal de la seccion "services"--> 
            <div class="container px-4 px-lg-5">
                <!--Titulo de la sección-->
                <h2 class="text-center mt-0">En que se usa el agua</h2>
                <!--Linea divisoria debajo del titulo-->
                <hr class="divider" />
                <!--Filas y columnas para organizar la información-->
                <div class="row gx-4 gx-lg-5">
                    <!--Primer servicio: Consumo de alimentos-->
                    <div class="col-lg-3 col-md-6 text-center">
                        <!--Contenedor del servicio-->
                        <div class="mt-5">
                            <!--Icono del servicio-->
                            <div class="mb-2"><i class="bi-basket fs-1 text-primary"></i></div>
                            <!--Titulo del servicio-->
                            <h3 class="h4 mb-2">Consumo de alimentos</h3>
                            <!--Descripcion del servicio-->
                            <p class="text-muted mb-0">El agua es esencial en la producción de alimentos, desde el riego de cultivos hasta la crianza de ganado. Además, se utiliza en procesos agricolas e industriales para el procesamiento y la preparacion de alimentos.</p>
                        </div>
                    </div>
                    <!--Segundo servicio: Higiene Personal-->
                    <div class="col-lg-3 col-md-6 text-center">
                        <!--Contenedor del servicio-->
                        <div class="mt-5">
                            <!--Icono del servicio-->
                            <div class="mb-2"><i class="bi-bucket fs-1 text-primary"></i></div>
                            <!--Titulo del servicio-->
                            <h3 class="h4 mb-2">Higiene Personal</h3>
                            <!--Descripcion del servicio-->
                            <p class="text-muted mb-0">El agua desempeña un papel crucial en nuestras rutinas diarias de higiene, como bañarse, lavarse las manos y cepillarse los dientes. Además, es esencial en la producción de productos de cuidado personal.</p>
                        </div>
                    </div>
                    <!--Tercer servicio: Agricultura y ganaderia-->
                    <div class="col-lg-3 col-md-6 text-center">
                        <!--Contenedor del servicio-->
                        <div class="mt-5">
                            <!--Icono del servicio-->
                            <div class="mb-2"><i class="bi-tree fs-1 text-primary"></i></div>
                            <!--Titulo del servicio-->
                            <h3 class="h4 mb-2">Agricultura y ganaderia</h3>
                            <!--Descripcion del servicio-->
                            <p class="text-muted mb-0">En la agricultura, el agua se utiliza para el riego de cultivos, lo que es fundamental para el crecimiento de las plantas y la producción de alimentos. En la ganadería, el agua es necesaria tanto para la hidratacion del ganado como para el riego de pastizales.</p>
                        </div>
                    </div>
                    <!--Cuarto servicio: Sustento de vida-->
                    <div class="col-lg-3 col-md-6 text-center">
                        <!--Contenedor del servicio-->
                        <div class="mt-5">
                            <!--Icono del servicio-->
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <!--Titulo del servicio-->
                            <h3 class="h4 mb-2">Sustento de vida</h3>
                            <!--Descripcion del servicio-->
                            <p class="text-muted mb-0">El agua es esencial para la supervivencia humana y de otros seres vivos. Desde beber agua potable hasta mantener la humedad necesaria en el medio ambiente, el agua es un componente fundamental para el sustento y la salud de los ecosistemas</p>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Seccion "Recomendaciones para cuidar el agua"-->
                <section class="page-section" id="services">
                    <!--Contenedor principal de la seccion "recomendaciones para cuidar el agua"-->
                    <div class="container px-4 px-lg-5">
                        <!--titulo de la seccion-->
                        <h2 class="text-center mt-0">RECOMENDACIONES PARA CUIDAR EL AGUA</h2>
                        <!--Linea divisoria debajo del titulo-->
                        <hr class="divider" />
                        <!--Filas y columnas para organizar la informacion-->
                        <div class="row gx-4 gx-lg-5">
                            <!--Primera recomendacion: Uso solidario del agua-->
                            <div class="col-lg-3 col-md-6 text-center">
                                <!--Contenedor del servicio-->
                                <div class="mt-5">
                                    <!--Icono del servicio-->
                                    <div class="mb-2"><i class="bi-people fs-1 text-primary"></i></div>
                                    <!--Descripcion del servicio-->
                                    <p class="text-muted mb-0">Hacer un uso solidario del agua, puesto que el abuso de este recurso por parte de un sector perjudica necesariamente a toda la red.</p>
                                </div>
                            </div>
                            <!--Segunda Recomendacion: Reparar canillas y goteras-->
                            <div class="col-lg-3 col-md-6 text-center">
                                <!--Contenedor del servicio-->
                                <div class="mt-5">
                                    <!--Icono del servicio-->
                                    <div class="mb-2"><i class="bi-bucket fs-1 text-primary"></i></div>
                                    <!--Descripcion del servicio-->
                                    <p class="text-muted mb-0">Repara las canillas y goteras, y así ahorraras un promedio de 170 litros al mes</p>
                                </div>
                            </div>
                            <!--Tercera recomendacion: Evitar el riego de calles y veredas-->
                            <div class="col-lg-3 col-md-6 text-center">
                                <!--Contenedor del servicio-->
                                <div class="mt-5">
                                    <!--Icono del servicio-->
                                    <div class="mb-2"><i class="bi-flower1 fs-1 text-primary"></i></div>
                                    <!--Descripcion del servicio-->
                                    <p class="text-muted mb-0">Evitar el riego de calles de tierra, veredas y jardines, principalmente durante el dia</p>
                                </div>
                            </div>
                            <!--Cuarta recomendacion: Cerrar la canilla al ducharse-->
                            <div class="col-lg-3 col-md-6 text-center">
                                <!--Contenedor del servicio-->
                                <div class="mt-5">
                                    <!--Icono del servicio-->
                                    <div class="mb-2"><i class="bi-water fs-1 text-primary"></i></div>
                                    <!--Descripcion del servicio-->
                                    <p class="text-muted mb-0">Al ducharse cerrar la canilla del agua al momento de enjabonarnos permite ahorrar entre unos 10 a 12 litros.</p>                      
                                </div>
                            </div>
                        </div>
                    </div>    
                 <!-- Seccion "2da parte de las Recomendaciones para cuidar el agua"-->
                     <section class="page-section" id="services">
                          <!--Contenedor  de la seccion "recomendaciones para cuidar el agua"-->
                             <div class="container px-4 px-lg-5">
                                        <!--Linea divisoria debajo del titulo-->
                                            <hr class="divider" />
                                            <!--Filas y columnas para organizar la informacion-->
                                            <div class="row gx-4 gx-lg-5">
                                            <!--Quinta recomendacion: Lavado de Platos-->
                                                <div class="col-lg-3 col-md-6 text-center">
                                                    <!--Contenedor del servicio-->
                                                    <div class="mt-5">
                                                        <!--Icono del servicio-->
                                                        <div class="mb-2"><i class="bi-water fs-1 text-primary"></i></div>
                                                        <!--Descripcion del servicio-->
                                                        <p class="text-muted mb-0">Al lavar los platos no dejar la canilla abierta. Utiliza el tapón o un recipiente, y ahorraras hasta 50 litros por lavado.</p>
                                                    </div>
                                                </div>
                                                <!--Sexta recomendacion: Lavado de dientes-->
                                                <div class="col-lg-3 col-md-6 text-center">
                                                    <!--Contenedor del servicio-->
                                                    <div class="mt-5">
                                                        <!--Icono del servicio-->
                                                        <div class="mb-2"><i class="bi-emoji-smile fs-1 text-primary"></i></div>
                                                        <!--Descripcion del servicio-->
                                                        <p class="text-muted mb-0">Lavarse los dientes usando un vaso de agua y no dejar la canilla abierta, ahorrando asi alrededor de 12 litros por minuto</p>
                                                    </div>
                                                </div>
                                                <!--Septima recomendacion:-->
                                                <div class="col-lg-3 col-md-6 text-center">
                                                    <!--Contenedor del servicio-->
                                                    <div class="mt-5">
                                                        <!--Icono del servicio-->
                                                        <div class="mb-2"><i class="bi-water fs-1 text-primary"></i></div>
                                                        <!--Descripcion del servicio-->
                                                        <p class="text-muted mb-0">Utilizar lavarropas y lavaplatos solo a plena carga, ahorrando asi unos 25 litros de agua</p>
                                                    </div>
                                                </div>
                                                <!--Octava recomendacion: No lavar el auto innecesariamente-->
                                                <div class="col-lg-3 col-md-6 text-center">
                                                    <!--Contenedor del servicio-->
                                                    <div class="mt-5">
                                                        <!--Icono del servicio-->
                                                        <div class="mb-2"><i class="bi-truck fs-1 text-primary"></i></div>
                                                        <!--Descripcion del servicio-->
                                                        <p class="text-muted mb-0">No lavar el auto innecesariamente. Utilzar balde para reducir el caudal</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                <!--seccion cambios (servicio)-->
                <section class="page-section" id="services">
                    <!--Seccion de la pagina-->
                    <div class="container px-4 px-lg-5">
                        <!-- Título del cambio (servicio) -->
                        <h2 class="text-center mt-0">Que buscamos cambiar</h2>
                        <!-- Línea divisoria debajo del título -->
                        <hr class="divider" />
                        <!-- Filas y columnas para organizar la información -->
                        <div class="row gx-4 gx-lg-5">
                            <!--El primer cambio (servicio)-->
                            <div class="col-lg-3 col-md-6 text-center">
                                <!--Contenedor del Cambio (servicio)-->
                                <div class="mt-5">
                                    <!--Icono del Servicio-->
                                    <div class="mb-2"><i class="bi-droplet fs-1 text-primary"></i></div>
                                    <!--Descripcion del Cambio (servicio)-->
                                    <p class="text-muted mb-0">Implementar sistemas de ahorro y reutilización de agua en nuestros servicios.</p>
                                </div>
                            </div>
                            <!--El segundo cambio (servicio)-->
                            <div class="col-lg-3 col-md-6 text-center">
                                <!--Contenedor del cambio (servicio)-->
                                <div class="mt-5">
                                    <!--Icono del cambio (servicio)-->
                                    <div class="mb-2"><i class="bi-droplet fs-1 text-primary"></i></div>
                                    <!--Descripcion del cambio (servicio)-->
                                    <p class="text-muted mb-0">Utilizar tecnologías limpias y eficientes que minimicen el consumo de agua y la generación de residuos líquidos.</p>
                                </div>
                            </div>
                            <!--El tercer cambio (servicio)-->
                            <div class="col-lg-3 col-md-6 text-center">
                                <!--Contenedor del cambio (servicio)-->
                                <div class="mt-5">
                                    <!--Icono del cambio (servicio)-->
                                    <div class="mb-2"><i class="bi-droplet fs-1 text-primary"></i></div>
                                    <!--Descripcion del cambio (servicio)-->
                                    <p class="text-muted mb-0">Proteger y restaurar las fuentes de agua cercanas a nuestras instalaciones, como ríos, lagos, acuíferos y humedales, y evitar su contaminación y degradación.</p>
                                </div>
                            </div>
                            <!--El cambio (servicio)-->
                            <div class="col-lg-3 col-md-6 text-center">
                                <!--Contenedor del cambio (servicio)-->
                                <div class="mt-5">
                                    <!--Icono del cambio (servicio)-->
                                    <div class="mb-2"><i class="bi-droplet fs-1 text-primary"></i></div>
                                    <!--Descripcion del cambio (servicio)-->
                                    <p class="text-muted mb-0">Apoyar proyectos e iniciativas sociales y ambientales que promuevan el acceso al agua potable y al saneamiento, la educación y la conciencia sobre el cuidado del agua, y la participación ciudadana en la gestión del recurso hídrico.</p>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/agua_agricultura.jpg' %}" title="Niños reciclando agua de su colegio para regar biohuerto">
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/1ra accion.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"></div>
                                <div class="project-name">Cuidado del Agua en Espacios Públicos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/tierra.jpg' %}" title="El 70% de la superficie de la Tierra está cubierta por agua, pero solo alrededor del 2.5% es agua dulce. La mayor parte del agua en la Tierra es salada y se encuentra en los océanos.">
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/tierra.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"></div>
                                <div class="project-name">Datos Curiosos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/2da accion.jpg' %}" title="niña Cerrando el grifo para no desperdiciar el agua">
                            <img class="img-fluid w-100" src="{% static 'assets/img/portfolio/thumbnails/2da accion.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"></div>
                                <div class="project-name">Cuidado del Agua en el Baño </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/agua_agricultura.jpg' %}" title="La agricultura es responsable del uso del 70% del agua dulce disponible en todo el mundo.">
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/agua_agricultura.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"></div>
                                <div class="project-name">Datos Curiosos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/cocina.jpg' %}" title="Madre ahorrando Agua de manera inteligente">
                            <img class="img-fluid w-100" src="{% static 'assets/img/portfolio/thumbnails/cocina.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"></div>
                                <div class="project-name">Cuidado del Agua en la Cocina</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/cuerpohumano.jpg' %}" title="Aproximadamente el 70% del peso corporal de un adulto promedio está compuesto de agua. ">
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/cuerpohumano.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50"></div>
                                <div class="project-name">Datos Curiosos</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">El agua es importante para la humanidad</h2>
                <a class="btn btn-light btn-xl" href="">Si no entediste el tema</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Calculadora de agua</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Comenzemos, con esta calculadora de agua veremos el uso que das al agua, y descubriremos si puedes mejorar o ver soluciones a tu situación.</p>
                        <p class="text-muted mb-5">Según estudios, se enfatiza la importancia de limitar el consumo diario a 313 litros, destacando la necesidad de practicas conscientes y eficientes en las actividades diarias, como se refleja en la calculadora</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Calcular</button>
                        </form>
                        
                        {% if result != None %}
                            <p>Resultado: {{ result }}</p>
                            {% if message %}
                                <p>{{ message }}</p>
                            {% endif %}
                        {% endif %}



                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>¡¡PRUEBALO AHORA!!</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Company Name</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
